# Ignore everything
/*

# Except the meetings folder
!/meetings

# And the sublime project file
!CS169-PenPal-Gladiators.sublime-project

# And the travis file
!.travis.yml

# But ignore random files
.DS_Store

