// Color Scheme

@background-color     : #FFFFFF;
@background-accent    : #F7F7F7;
@background-highlight : #EFEFEF;
@primary-dark-color   : #5BCFFA;
@primary-dark-color-2 : #3BAFDA;
@border-light-color   : #CCCCCC;
@border-dark-color    : #AAAAAA;
@text-dark-color      : #222222;
@text-light-color     : #777777;
@text-lighter-color   : #BBBBBB;
@btn-hover-color      : #4FC1E9;
@nav-bar-color        : #FFFFFF;
@nav-text-color       : #4BBFEA;

// Sizing

@global-padding-md    : 30px;
@global-padding-xs    : 15px;
