<div id="edit-profile-container">
    <h1>Edit Your Profile</h1>
    <p>Make changes to your public user profile here.  Your user profile will be
    viewed by other Gladiators to allow them to get a better sense of who you
    are, so you are encouraged to provide as much information as you are
    comfortable with providing.</p>

    <input type="text" name="username" ng-model="username" >
    <input type="text" name="avatar" ng-model="avatar" >
    <input type="text" name="blurb" ng-model="blurb" >
    <input type="text" name="hero" ng-model="hero" >
    <input type="text" name="spectrum" ng-model="spectrum" >

    <p>You can also change your email and password, both of which are
    private.</p>
    <input type="text" name="email" ng-model="email" >
    <!-- Throw password in eventually when better framework is established
    <input type="password" name="password" ng-model="password" >
    -->
    <input class="input" type="button" ng-click="save()" value="Save Changes"/>)))
</div>
