<div id="newsfeed-container">
    <p id="newsfeed-heading">Trending Resolutions</p>
    <p ng-if="shouldDisplayNoConversationsMessage()" id="newsfeed-subheading">There don't seem to be any conversations yet. Check back later!</p>
    <div id="newsfeed-content-container">
        <div ng-repeat="conversation in conversations" class="newsfeed-conversation-container">
            <p class="newsfeed-conversation-title">{{conversation.title}}</p>
            <p class="newsfeed-conversation-text">{{conversation.resolution}}</p>
        </div>
    </div>
</div>