<div class="vertical-center">
    <div id="login-container" class="container">
        <div class="header">PenPal Gladiators</div>
        <div id="status" ng-bind="status"></div>
        <form>
            <div class="label">Email</div><br/>
            <input id="email" name="email" ng-model="email" type="text"></input><br/>
            <div class="spacing"></div>
            <div class="label">Password</div><br/>
            <input id="password" name="password" ng-model="password" type="password"></input><br/>
            <div class="spacing"></div>
            <div class="center">
                <a ng-click="login()" value="Login"><button class="btn btn-secondary main-btn">Login</button></a>
                <a ng-click="can_register()" value="Register"><button class="btn btn-primary main-btn">Start Registration</button></a>
            </div>
        </form>
    </div>
</div>
