<div class="vertical-center">
    <div id="login-container">
        <div class="header">The Coliseum</div>
        <div id="status" ng-bind="status"></div>
        <form>
            <div class="label">Email:</div>
            <input id="email" name="email" ng-model="email" type="text"></input>
            <div class="spacing"></div>
            <div class="label">Password:</div>
            <input id="password" name="password" ng-model="password" type="password"></input>
            <div class="spacing"></div>
            <div class="controls">
                <div class="center">
                    <button type="submit" class="btn btn-secondary main-btn" ng-click="login()">Login</button>
                    <button class="btn btn-primary main-btn" ng-click="can_register()">Start Registration</button>
                </div>
            </div>
        </form>
    </div>
</div>
