<div class="vertical-center">
    <div id="login-container" class="container">
        <div class="header">Welcome</div>
        <div id="status" ng-bind="status"></div>
        <form>
            <input placeholder="Email" ng-model="email" type="text"></input><br/>
            <input placeholder="Password" ng-model="password" type="password"></input><br/>
            <div class="spacing"></div>
            <a ng-click="login()" value="Login"><button class="btn btn-secondary">Login</button></a>
            <a ng-click="can_register()" value="Register"><button class="btn btn-primary">Register</button></a>
        </form>
    </div class="container"
</div>
