<div id="navigation-container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button ng-click="showMenu = !showMenu" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">The Colosseum</a>
        </div>
        <div collapse="!showMenu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="profile_nav" type="button" class="btn navbar-btn" ui-sref="profile({ id: {{ userId }} })">
                        My Profile
                    </button>
                </li>
                <li>
                    <button id="logout_nav" type="button" class="btn navbar-btn" ng-click="logout()">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
