<div id="sidebar" class="nav-side-menu" ng-controller="SidebarController">
    <div ui-view="sidebar-matching"></div>
    <div class="sidebar-arenas-container">
        <ul>
            <li ng-repeat="gladiatorId in gladiatorIds">
                <div class="gladiator-heading-container menu-item" ng-click="toggleGladiatorPanel(gladiatorId)">
                    <img class="user-avatar" ng-click="goToProfile(gladiatorId); $event.stopPropagation()"  ng-src="{{gladiatorById[gladiatorId].avatar}}"></img>
                    <a class="gladiator-heading heading">{{gladiatorById[gladiatorId].username}}</a>
                    <span ng-class="expandButtonClass(gladiatorId)" class="click-to-expand"></span>
                    <!-- <span ng-click="goToProfile(gladiatorId); $event.stopPropagation();" class="glyphicon glyphicon-user btn"></span> -->
                </div>

                <div class="conversation-start-container menu-item subitem" ng-show="arenaStateByUserId[gladiatorId]" ng-click="conversationStartClicked(gladiatorId)">
                    <a class="conversation-start heading">Start a new converstation</a>
                    <span class="btn glyphicon glyphicon-plus"></span>
                </div>

                <div class="conversation-preview menu-item subitem" ng-repeat="conversation in conversationsByUserId[gladiatorId]" ng-show="arenaStateByUserId[gladiatorId]" ng-click="conversationPreviewClicked(conversation.id)">
                    <div class="conversation-heading">
                        <div class="conversation-actions">
                            <div class="conversation-advance glyphicon glyphicon-arrow-right btn" ng-click="conversationPreviewClicked(conversation.id)"></div>
                        </div>
                        <p class="conversation-title heading">{{conversation.title}}</p>
                    </div>
                    <p class="conversation-time">{{conversation.time}}</p>
                    <p class="conversation-text">{{conversation.post_preview_text}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
