<h1>Questions for {{ currentTopic }}</h1>
<p>Answer the following {{ numQuesions }} questions to proceed</p>
<div id="QuesionsContainer">
    <div class="QuesionContainer" ng-repeat="quesion in quesions">
        {{ question.quesion }}
        <div class="ResponsesContainer">
            <div class="Response" ng-repeat="response in quesion.possibleResponses">
                <input type="checkbox" ng-change="handleResponseSelected(quesion,response)">{{ response }}</input>
            </div>
        </div>
    </div>
    <input type="button" ng-disabled="disableNextButton()" ng-click="handleAdvance()" value="{{nextButtonValue()}}"></input>
    <input type="button" value="Back"></input>
</div>

