<div id="survey-summary-container">
    <div class="header">Summary</div>
    <p id="description">Review your responses and edit them as necessary.</p>
    <div class="spacing"></div>
    <div id="topic-summaries-container">
        <div id="topic-{{topic.name}}" class="topic-summary" ng-repeat="topic in selectedTopics">
            <div class="topic">
                {{ topic.name }}
                <input id="edit-{{topic.name}}" class="btn btn-secondary no-button" type="button" value="Edit", ng-click="editResponses(topic.id)"/>
            </div>
            <div>{{responseTexts[topic.id]}}</div>
        <div class="spacing"></div>
        </div>
    </div>
    <input class="btn btn-primary" id="continue-button" type="button" ng-click="handleRegister()" value="Finish Registration"/>
</div>
