<div class="container-fluid" id="topic-select-container">
    <h1 id="heading">Which topics interest you?</h1>
    <p id="description">Select at least {{MIN_NUM_TOPICS_REQUIRED}} from the below topics. You may change or add topics later through 'settings.'</p>
    <div class="container-fluid" id="topic-check-container">
        <div class="container-fluid topic-container col-md-1" ng-click="handleTopicToggled(topic.id)" ng-repeat="topic in allTopics">
            <input ng-model="topicSelectionModel[topic.id]" type="checkbox"/>
            <label><span/></label>
            <img ng-src="{{topic.icon}}"/>
            <p>{{topic.name}}</p>
        </div>
    </div>
    <input class="input" type="button" ng-disabled="disableNextButton()" ng-click="handleAdvanceToQuestions()" value="{{nextButtonValue()}}"/>
</div>
