<h1>Questions for {{ currentTopic }}</h1>
<p>Answer the following {{ numQuestions }} questions to proceed</p>
<div id="topic-questions-container">
    <div class="question-container" ng-repeat="question in questions">
        {{ question.text }}
        <div class="question-responses-container">
            <div class="response" ng-repeat="response in question.survey_responses">
                <input type="checkbox" ng-model="questionCheckModel[response.id]" ng-change="handleResponseSelected(question,response)">{{ response.text }}</input>
            </div>
            <br>
        </div>
    </div>
    <input type="button" value="Back", ng-click="handleBack()"></input>
    <input type="button" ng-disabled="disableNextButton()" ng-click="handleAdvance()" value="{{nextButtonValue()}}"></input>
</div>

