<h1>Which topics interest you?</h1>
<p>Select {{MIN_NUM_TOPICS_REQUIRED}} from the below topics. You may change or add topics later through 'settings.'</p>
<div id="topic-select-container">
    <div id="topic-check-container">
        <div class="topicContainer col-xs-3" ng-click="handleTopicToggled(topic.id)" ng-repeat="topic in topics">
            <input ng-model="topicCheckModel[topic.id]" type="checkbox"/>
            <label><span/></label>
            <img ng-src="{{topic.icon}}"/>
            <p>{{topic.name}}</p>
        </div>
    </div>
    <input class="input" type="button" ng-disabled="disableNextButton()" ng-click="handleAdvanceToQuestions()" value="{{nextButtonValue()}}"/>
</div>
