<div id="survey-questions-container">
    <div class="header">{{ currentTopic }}</div>
    <p id="description">{{ numQuestions }} questions.</p>
    <div class="spacing"></div>
    <div id="topic-questions-container">
        <div class="question-container" ng-repeat="question in questions">
            <div class="question-text">{{ question.text }}</div>
            <div class="question-responses-container">
                <div class="response" ng-repeat="response in question.survey_responses">
                    <input type="checkbox" ng-model="questionCheckModel[response.id]" ng-change="handleResponseSelected(question,response)"/>
                    <label><span/></label><span class="response-label">{{ response.text }}</span>
                </div>
                <br>
            </div>
        </div>
        <input class="btn btn-secondary" type="button" value="Back", ng-click="handleBack()"></input>
        <input class="btn btn-primary" id="next-question-button" type="button" ng-disabled="disableNextButton()" ng-click="handleAdvance()" value="{{nextButtonValue()}}"></input>
    </div>
</div>
