@import "../constants.less";
@import "../mixins.less";
@import "homePageStyle.less";

#home-container {
    height: calc(~"100vh - @{navbar-height}");
    width: calc(~"100vw - @{sidebar-width}");

    @media(min-width: 768px) {
        padding: 10px @global-padding-md;
    }

    @media(max-width: 768px) {
        padding: 10px @global-padding-xs;
    }
}

#newsfeed-container {

    .unselectable();

    #newsfeed-subheading {
        font-size: 14px;
        font-weight: 300;
        color: @text-light-color;
    }

    .newsfeed-content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        #conversation-popup {
            position: absolute;
            z-index: 100;
            left: 50%;
            top: 50%;
            transform: translate(calc(~'-50% - @{sidebar-width}/2'), calc(~'-50% + @{navbar-height}/2'));
            width: 60%; height: 80%;
            background-color: white;
            border-radius: 5px;
            border: 1px solid @border-dark-color;
            box-shadow: 0 2px 10px -2px @border-dark-color;
            text-align: center;
            overflow: hidden;
            display: flex;
            flex-flow: column;

            .conversation-popup-title {
                width: 90%;
                margin: 15px auto 0px auto;
                padding-bottom: 15px;
                border-bottom: 1px solid black;
                font-size: 18px;
            }

            .conversation-popup-posts {
                overflow-y: auto;
                width: 90%;
                padding: 15px 15px 0px 15px;
                margin: 0 auto;
                position: relative;
                flex: 2;
                font-size: 16px;
                text-align: justify;

                .conversation-popup-post {
                    padding: 10px 0px 10px 0px;

                    .conversation-popup-author {
                        margin-bottom: 5px;
                    }
                    font-weight: 300;

                    .conversation-popup-author {
                        color: @text-lighter-color;
                    }
                }

                .conversation-popup-post:first-child {
                    padding-top: 0px;
                }

                .conversation-popup-post + .conversation-popup-post {
                    border-top: 1px solid @border-light-color;
                }
            }

            a {
                margin: 15px auto 15px auto;
                width: 100px;
            }
        }
    }

    .column {
        width: calc(~"(100% - 20px) / 2");
    }

    .conversation-container-background {
        cursor: default;
        opacity: 0.1;

        &:hover {
            opacity: 0.1;
        }
    }

    .conversation-container-foreground {
        cursor: pointer;
        opacity: 1;

        &:hover {
            opacity: 0.75;
        }
    }

    .newsfeed-conversation-container {
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid @border-dark-color;
        background-color: white;
        box-shadow: 0 2px 10px -2px @border-dark-color;
        text-align: justify;
    }

    .newsfeed-conversation-title {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid @border-dark-color;
        font-size: 18px;
        font-weight: 400;
    }

    .newsfeed-conversation-text {
        font-size: 14px;
        color: @text-light-color;
        font-weight: 300;
    }
}
