// Color Scheme

@background-color     : #F7F7F7;
@primary-dark-color   : #2A292C;
@primary-dark-color-2 : #2A292C;
@border-light-color   : #D0D3CE;
@border-dark-color    : #737575;
@text-dark-color      : #413C45;
@text-light-color     : #67636A;
@text-lighter-color   : #BFBFBF;
@btn-hover-color      : #F2F2F2;

@potential-accent     : #26816a;

// Sizing

@global-padding-md    : 30px;
@global-padding-xs    : 15px;
