@primary-color: #5bcffa;
@background-color: #efefef;
@border-color: #dddddd;
@sidebar-width: 300px;
@main-view-width: calc(~'100% - 300px');
@avatar-width-medium: 100px;
@avatar-height-medium: 100px;
@avatar-width-small: 40px;
@avatar-height-small: 40px;
@min-post-height: 130px;

body {
    background-color: @background-color;
    font-family: "Avenir Next";
    font-weight: 300;
    color: #555;
}

h1, h2, h3, p, div {
    font-weight: 400;
    color: #aaa;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

label {
    font-weight: 300;
}

input[type=text], input[type=password] {
    background: #ffffff;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid @border-color;
    margin-bottom: 10px;
    outline: none
}

.label {
    background: none;
    padding: 0px 0px 0px 0px;
    margin: none;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

p {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    margin-bottom: 5px;
}

.header {
    font-size: 16px;
    margin-bottom: 5px;
}

.spacing {
    height: 20px;
    width: 100%;
}

.btn {
    border: 1px solid @border-color;
    border-radius: 20px;
}

.btn-primary {
    background: @primary-color;
}

.center {
    width: 100%;
    text-align: center;
}

#profile-container {
    margin-bottom: 20px;

    #avatar {
        margin-bottom: 15px;
    }

    @media only screen
    and (min-width: 768px)
    and (max-width: 1800px) {
        width: @main-view-width;
    }

    @media(min-width: 1800px) {
        width: 100%;
    }

    @media(max-width: 768px) {
        width: 100%;
    }

    #save {
        margin-top: 15px;
    }

    #profile-form {
        padding-bottom: 10px;
    }
}

.navbar-default {
    background: #aab2bd;
    color: #ffffff;
    border-color: #aaa;

    .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
        background: none;
        color: #ffffff;
        border: none;
    }

    .navbar-collapse, .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .navbar-nav>li>a:hover {
        background: #cad2dd;
    }

    .navbar-nav>li>a, .navbar-text {
        color: #ffffff;
        border-color: #ffffff;
    }

    .btn-link, .navbar-brand {
        color: #ffffff;
        font-size: 18px;
    }

    .btn-link:focus, .btn-link:hover, .navbar-default .navbar-brand:focus, .navbar-brand:hover, .navbar-default .navbar-link:hover {
        color: #ffffff;
        background: #cad2dd;
    }
}

#logout_nav {
    cursor: pointer;
}

.posts-shortened {
    height: 44%;

    .fade-bottom {
        bottom: 0%;
    }
}

.posts-full-length {
    .fade-bottom {
        bottom: 0%;
    }
}

.post-content-summary {
    background-color: #FFFFE0;
}

.post-content-resolution {
    background-color: #EEFCE1;
}

.post-editor-full {
    width: 100%;
}


.fade-element() {
    width: 100%;
    height: 3%;
    position: absolute;
    opacity: 0.5;
    left: 0px;
}

#homepage-container {
    position: relative;
    width: 100%;
    height: 100%;

    @media(max-width: 768px) {
        margin-top: 80px;
    }

    @media(min-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#main-view-container {
    margin-bottom: 30px;
    @media(min-width: 768px) {
        padding-top: 80px;
    }
    @media(max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }
    height: 100%;
}

#main-view {
    @media only screen
    and (min-width: 768px)
    and (max-width: 1800px) {
        width: @main-view-width;
    }

    @media(min-width: 1800px) {
        width: 100%;
    }
}

#main-view-container h1 {
    margin-top: 0px;
    font-size: 20px;
}

.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 300;
    background-color: @background-color;
    position: fixed;
    top: 0px;
    width: @sidebar-width;
    height: 100%;
    color: black;
    right: 0px;
    border-left: 1px solid @border-color;

    @media(min-width: 768px) {
        padding-top: 50px;
        background-color: #ffffff;
        position: fixed;
        top: 0px; right: 0px;
        width: @sidebar-width;
        height: 100%;
        border-left: 1px solid @border-color;
        color: black;
        right: 0px;
    }

    @media(max-width: 768px) {
        margin-bottom: 20px;
        background-color: #ffffff;
        position: relative;
        width: 100%;
        min-height: 30px;
        color: black;
        border: 1px solid @border-color;
    }

    .menu-list .menu-content {
        display: block;
    }

    .gladiator-heading-container {
        padding-top: 10px;
        padding-bottom: 10px;

        img {
            padding-left: 5px;
        }

        &:hover {
            background-color: #f9f9f9;
        }

        .gladiator-heading {
            font-size: 14px;
            color: #888;
            font-weight: 300;
        }

        .click-to-expand {
            font-size: 16px;
            color: #5bcffa;
            float: right;
            padding-right: 5px;
            padding-top: 8px;
        }
    }

    li {
        padding: 5px 5px 0px 5px;
        border-bottom: 1px solid @border-color;

        @media(max-width: 768px) {
            &:last-child {
                border-bottom: none;
            }
        }

        .conversation-start-container {
            padding: 10px;
            padding-left: 25px;
            border-top: 1px dotted #E1E1E1;

            &:hover {
                background-color: #F8F8F8;
            }

            .conversation-start {
                padding: 0;
                font-size: 16px;
                color: #888;
            }

            .glyphicon-plus {
                float: right;
                font-size: 10px;
                padding: 6px 8px;
            }
        }
        border-bottom: 1px solid @border-color;

        .conversation-preview {
            padding: 10px;
            padding-left: 25px;
            font-size: 13px;
            background-color: #ffffff;
            border-top: 1px dotted #e1e1e1;

            &:hover {
                background-color: #F8F8F8;
            }

            .conversation-heading {

                .conversation-title {
                    color: #888;
                    margin-bottom: 0px;
                    line-height: 1.7;
                    font-size: 16px;
                }

                .conversation-actions {
                    float: right;
                    margin-left: 5px;

                    .conversation-advance {
                        font-size: 10px;
                        padding: 6px 8px;
                    }
                }
            }

            .conversation-time {
                color: #ccc;
                padding-right: 5px;
                margin-bottom: 0px;
            }

            .conversation-text {
                margin-top: 0px;
                padding-right: 5px;
                margin-bottom: 5px;
                line-height: 1.7;
            }
        }

        a {
            text-decoration: none;
            font-size: 13px;
            padding-left: 10px;
        }
    }

    ul, li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
    }
}

.fade-top {
    .fade-element;
    border-top: 1px solid @border-color;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(210, 210, 210, 0.9)), color-stop(60%, rgba(255, 255, 255, 0))); */
}

.fade-bottom {
    .fade-element;
    border-bottom: 1px solid @border-color;
    /* background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgba(255, 255, 255, 0)), color-stop(0%,rgba(210, 210, 210, 0.9))); */
}

.user-avatar-medium {
    width: @avatar-width-medium;
    height: @avatar-height-medium;
    border-radius: 25%;
}

.user-avatar-small {
    width: @avatar-width-small;
    height: @avatar-height-small;
    border-radius: 25%;
}

#conversation-container {
    width: 100%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    #posts-container {
        overflow: scroll;
        margin-bottom: 20px;
    }

    .title {
        padding: 10px;
        margin: 0px;
        color: #aaaaaa;
        font-size: 20px;
        height: 6%;
    }

    .empty-conversation-message {
        color: #aaaaaa;
        margin-top: 15px;
    }

    .posts {

        p {
            text-align: justify;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }

        .post-content {
            min-height: @min-post-height;
            padding-top: 15px;
            padding-bottom: 5px;
            position: relative;

            .post-author-avatar-container {
                height: 100%;
                float: left;
                width: @avatar-width-medium;
                position: absolute;
            }

            .post-content-panel {
                width: calc(~'100% - 50px');
                height: 100%;
                left: @avatar-width-medium + 25px;
                position: relative;
                padding: 0px 40px 12px 10px;
                padding-right: 0px;

                .post-author-name {
                    font-weight: 600;
                    font-size: 16px;

                    .post-time {
                        font-weight: 400;
                        font-size: 14px;
                        float: right;
                    }
                }

                .post-edit {
                    font-size: 12px;
                    cursor: pointer;
                    padding-left: 10px;
                }
            }
        }

        .post-content+.post-content {
            border-top: 1px @border-color dashed;
        }
    }

    .editor-popup-container {
        position: relative;

        text-align: center;

        #summary-container {
            position: relative;
            height: 100%;
            background-color: white;
            border: solid @border-color 1px;
            border-radius: 10px;
            text-align: left;
            vertical-align: top;
            padding: 20px 20px 45px 20px;
            margin-bottom: 20px;

            div {
                font-size: 14px;
                height: 100%;
                overflow: scroll;

                p:first-child {
                    color: #555;
                }

                p {
                    margin-bottom: 10px;
                }
            }

            #approve-summary {
                position: absolute;
                bottom: 10px;
                right: 15px;
            }

            #own-summary-content {
                p:first-child {
                    font-size: 14px;
                    color: #AAA
                }
                p {
                    color: black;
                }
            }
        }

        .post-editor {
            display: inline-block;
            height: 100%;
            position: relative;
            padding: 0px;
            margin-bottom: 20px;

            textarea {
                height: 100%;
                resize: none;
                border: solid @border-color 1px;
                border-radius: 10px;
                font-size: 14px;
                padding: 20px 20px 100px 20px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                outline: none;
                background-color: white;
            }

            .post-editor-actions {
                position: absolute;
                bottom: 10px;
                right: 30px;

                .post-submit {
                    width: 100px;
                }

                .post-submit-error {
                    padding-right: 10px;
                    color: red;
                }
            }
        }
    }

    .post-actions {
        background-color: @background-color;
        text-align: right;
        padding-top: 4px;
        width: 100%;
        float: right;
        height: 6%;

        .hspace {
            margin: 0px 5px 0px 5px;
            font-size: 16px;
            padding: 2px 0px 2px 0px;
        }

        .post-action {
            font-size: 16px;
            width: 175px;
        }
    }
}

@media(min-width: 992px) {
    .pad-right {
        padding-right: 5px;
    }
    .pad-left {
        padding-left: 5px;
    }
}

@media(max-width: 992px) {
    .hspace {
        display: block;
    }
}

.no-padding {
    padding: 0px;
}
