@sidebar-width: 300px;
@main-view-width: calc(~'100% - 300px');
@avatar-width: 100px;
@avatar-height: 100px;
@min-post-height: 130px;

.posts-shortened {
    height: 48%;

    .fade-bottom {
        top: 51%;
    }
}

.posts-full-length {
    height: 88%;

    .fade-bottom {
        top: 91%;
    }
}

.hidden {
    display: none;
}

.fade-element() {
    width: 100%;
    height: 3%;
    position: absolute;
    opacity: 0.5;
    left: 0px;
}

#homepage-container {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    position: relative;
    width: @main-view-width;
    height: 100%;
}

#main-view-container {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.nav-side-menu {
    padding-top: 50px;
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #EFEFEF;
    position: fixed;
    top: 0px;
    width: @sidebar-width;
    height: 100%;
    color: black;
    right: 0px;
    border-left: 1px solid #D4D4D4;

    .menu-list .menu-content {
        display: block;
    }

    .gladiator-heading-container {
        background-color: #DFDFDF;

        &:hover {
            background-color: #CFCFCF;
        }

        .gladiator-heading {
            font-size: 16px;
        }

        .click-to-expand {
            font-size: 16px;
            color: black;
            float: right;
            padding-right: 5px;
            padding-top: 8px;
        }
    }

    li {
        padding: 5px 5px 0px 5px;
        border-bottom: 1px solid #D4D4D4;

        .conversation-preview {
            padding-left: 10px;
            font-size: 13px;
            background-color: white;

            &:hover {
                background-color: #F8F8F8;
            }

            .conversation-title {
                margin-bottom: 0px;
                font-weight: bold;
                line-height: 1.7;
            }

            .conversation-time {
                color: #888888;
                padding-right: 5px;
                margin-bottom: 0px;
            }

            .conversation-text {
                margin-top: 0px;
                padding-right: 5px;
                margin-bottom: 5px;
                line-height: 1.7;
            }

            .conversation-actions {
                width: 100%;
                padding-left: 10px;
                padding-bottom: 10px;

                .conversation-delete, .conversation-reply {
                    padding: 5px 5px 5px 5px;
                    background-color: #D4D4D4;
                    border-radius: 5px;
                    font-size: 12px;

                    &:hover {
                        background-color: #C8C8C8;
                    }
                }
                .conversation-reply {
                    margin-left: 10px;
                }
            }
        }

        a {
            text-decoration: none;
            color: #222222;
            font-size: 13px;
            padding-left: 10px;
        }
    }

    ul, li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
    }
}

body {
    background-color: #EFEFEF;
    font-family: "Avenir";
    overflow-y: hidden;
    height: 100%
}

html {
    height: 100%;
}

#conversation-container {
    width: 100%;
    height: 100%;
    position: relative;

    .title {
        padding: 10px;
        margin: 0px;
        color: #444444;
        background-color: #EFEFEF;
        font-size: 20px;
        border-bottom: 1px #D0D0D0 solid;
        height: 6%;
    }

    .empty-conversation-message {
        color: #888888;
    }

    .posts {
        overflow-y: auto;
        padding: 15px 25px 25px 25px;

        p {
            text-align: justify;
            font-size: 16px;
        }

        .fade-top {
            .fade-element;
            top: 6%;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(255,255,255,0)));
        }

        .fade-bottom {
            .fade-element;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(100%,rgba(255,255,255,0)), color-stop(0%,rgba(239,239,239,1)));
        }

        .post-content {
            min-height: @min-post-height;
            padding-top: 20px;
            position: relative;

            .post-author-avatar-container {
                height: 100%;
                float: left;
                width: @avatar-width;
                position: absolute;

                .post-author-avatar {
                    width: @avatar-width;
                    height: @avatar-height;
                }
            }

            .post-content-panel {
                width: calc(~'100% - 100px');
                height: 100%;
                left: @avatar-width + 25px;
                position: relative;
                padding: 0px 40px 12px 10px;

                .post-author-name {
                    font-weight: bold;

                    .post-time {
                        color: #888888;
                        font-weight: lighter;
                        float: right;
                    }
                }

                .post-edit {
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }

        .post-content+.post-content {
            border-top: 1px #D0D0D0 solid;
        }
    }

    .post-editor {
        position: relative;
        width: 100%;
        height: 40%;
        padding: 0px 5px 0px 5px;

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            border: solid #D0D0D0 1px;
            border-radius: 10px;
            font-size: 20px;
            padding: 20px 20px 100px 20px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
            background-color: white;
        }

        .post-editor-actions {
            position: absolute;
            bottom: 10px;
            right: 15px;

            .post-submit {
                width: 100px;
            }
        }
    }

    .post-actions {
        background-color: #EFEFEF;
        text-align: center;
        padding-top: 4px;
        width: 100%;
        float: right;
        height: 6%;

        .hspace {
            margin: 0px 15px 0px 15px;
            font-size: 16px;
            padding: 2px 0px 2px 0px;
        }

        .post-action {
            font-size: 16px;
            width: 175px;
        }
    }
}
