@topic-icon-display-size: 120px;
@topic-icon-margin: 15px;
@num-topics-per-row: 4;

body {
    background-color: #EFEFEF;
    font-family: "Avenir Next";
    font-weight: 300;
    color: #555;
}

h1, h2, h3, p, div {
    font-weight: 400;
    color: #aaa;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

input[type=text], input[type=password] {
    background: #EFEFEF;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #CCC;
    outline: none
}

.label {
    background: none;
    padding: 0px 0px 0px 0px;
    margin: none;
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

.header {
    font-size: 20px;
}

.spacing {
    height: 20px;
    width: 100%;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 20px;
}

.center {
    width: 100%;
    text-align: center;
}

#login-container {
    width: 280px;
    background: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;

    #status {
        color: red;
    }

    .main-btn {
        width: 140px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    #email, #password {
        width: 100%;
    }
}

.btn-primary {
    background: #5bcffa;
}

#topic-select-container {

    /* Container attributes */

    width: 2 * @num-topics-per-row * @topic-icon-margin + @num-topics-per-row * @topic-icon-display-size + 70px;
    max-width: 100%;
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
    background: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;

    /* Child view attributes */

    .check_sprite {
        position: absolute;
        width: 100%;
        height: 100%;
        height: 28px;
        bottom: 0px;
    }

    #topic-check-container {
        width: 100%;
        padding: 0px;

        div {
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
            padding: 0px;
        }

        .topic-container {
            width: @topic-icon-display-size;
            height: @topic-icon-display-size + 25px;
            margin-bottom: 2 * @topic-icon-margin;
            margin-left: @topic-icon-margin;
            margin-right: @topic-icon-margin;
            display: inline-block;
            z-index: 999;

            p {
                color: #888;
                margin-top: 0px;
                padding-left: 6px;
                padding-top: 5px;
                font-size: 13px;
                width: @topic-icon-display-size;
                cursor: pointer;
                z-index: 1000;
            }

            img {
                border-radius: 2px;
                width: @topic-icon-display-size;
                height: @topic-icon-display-size - 5px;
                margin-bottom: 0px;
                margin-top: -20px;
                display: block;
            }

            input[type="checkbox"] {
                display: none;
                cursor: pointer;
                z-index: 999;

                &+ label span {
                    .check_sprite;
                    border: none;
                    background-color: white;
                    opacity: 0.4;
                    cursor: pointer;
                    z-index: 999;
                }

                &:checked + label span {
                    .check_sprite;
                    border: none;
                    background-color: #5bcffa;
                    opacity: 1;
                    cursor: pointer;
                    z-index: 999;
                }
            }
        }
    }

    #continue-button {
        float: right;
    }
}

#survey-questions-container {
    background: white;
    margin: 40px auto 40px auto;
    width: 560px;
    max-height: 640px;
    overflow: auto;
    background: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;

    h1 {
        padding-top: 30px;
        font-size: 30px;
    }

    #topic-questions-container {

        #next-question-button {
            margin-left: 5px;
        }

        .response-label {
            margin-left: 4px;
        }

        .question-text {
            margin-bottom: 10px;
            color: #888;
            font-size: 16px;
        }
    }
}
