@topic-icon-display-size: 100px;
@topic-icon-margin: 6px;
@num-topics-per-row: 4;

body {
    background-color: #EFEFEF;
    font-family: "Avenir";
    font-weight: 300;
}

.check_sprite {
    position: absolute;
    margin-top: 15px;
    margin-left: 6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}

.flat-button {
    border: 1px solid #777777;
    background: #3B5998;
    color: white;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#login-container {
    width: 230px;
    background: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    #status {
        color: red;
    }
}

input[type=text], input[type=password] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px dotted;
    outline: none
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.spacing {
    height: 20px;
    width: 100%;
}

#topic-select-container {
    height: 550px;
    width: 2 * @num-topics-per-row * @topic-icon-margin + @num-topics-per-row * @topic-icon-display-size + 70px;
    padding: 10px 30px 25px 10px;
    margin: 40px auto 0px auto;
    background-color: white;

    #heading {
        font-size: 30px;
    }

    #heading, #description {
        margin-left: 35px;
    }

    #topic-check-container {
        width: 2 * @num-topics-per-row * @topic-icon-margin + @num-topics-per-row * @topic-icon-display-size + 30px;
        height: 330px;
        overflow: auto;

        .topic-container {
            width: @topic-icon-display-size;
            height: @topic-icon-display-size + 22px;
            margin-bottom: 10px;
            margin-left: @topic-icon-margin;
            margin-right: @topic-icon-margin;
            display: inline-block;
            cursor: pointer;

            p {
                background-color: #444444;
                color: #FFFFFF;
                margin-top: 0px;
                padding-top: 4px;
                padding-left: 4px;
                font-size: 13px;
                width: @topic-icon-display-size;
            }

            img {
                width: @topic-icon-display-size;
                height: @topic-icon-display-size;
                margin-bottom: 0px;
                display: block;
            }

            input[type="checkbox"] {
                display: none;

                &+ label span {
                    .check_sprite;
                    border-color: gray;
                    background-color: white;
                    opacity: 0.4;
                }

                &:checked + label span {
                    .check_sprite;
                    border-color: rgb(96, 119, 35);
                    background-color: rgb(196,217,143);
                    opacity: 1;
                }
            }
        }
    }

    input[type=button] {
        float: right;
        margin-top: 30px;
        .flat-button;

        &:disabled {
            background: #899BC1;
            cursor: default;
        }
    }
}

#survey-questions-container {
    background: white;
    margin: 40px auto 0px auto;
    width: 560px;
    max-height: 640px;
    overflow: auto;

    h1 {
        padding-top: 30px;
        font-size: 30px;
    }

    h1, #description {
        margin-left: 50px;
    }

    #topic-questions-container {
        padding: 20px 50px 50px 50px;

        #next-question-button {
            margin-left: 5px;
        }

        .response-label {
            margin-left: 4px;
        }

        .question-text {
            margin-bottom: 10px;
        }

        input[type=button] {
            .flat-button;

            &:disabled {
                background: #899BC1;
                cursor: default;
            }
        }
    }
}
